* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    height: 100vh;
}

h1 {
    text-align: center;
    padding: 2rem;
}

.movies {
    display: flex;
    justify-content: center;
    height: 100%;
}

.card {
    background-color: black;
    width: 200px;
    padding: 2rem;
    margin: 1rem;
    color: white;
    height: 400px;
}

.py-1 {
    padding: 0.5rem 0;
}
